<ion-card class="m-0">
  <ion-card-header>
    <ion-card-title>{{data.productName}}</ion-card-title>
    <ion-card-subtitle class="m-0">Manage Products</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="pb-0">
    <ion-item>
      <ion-input label="Number input" type="number" #quantity placeholder="No of Quantities"></ion-input>
    </ion-item>
  </ion-card-content>
<div>
  <ion-button fill="outline" [disabled]="quantity.value !== '' && quantity.value " color="danger" fill="clear" (click)="DeleteWholeProducts()">Delete All</ion-button>
  <ion-button fill="clear" [disabled]="!quantity.value" (click)="updateQuantities(quantity.value)">{{confirmation ? 'Confirm Again' : 'Sold products'}}</ion-button>
</div>
</ion-card>
