<div class="h-100">
  <div>
    <router-outlet></router-outlet>
  </div>
  <div [ngClass]="(this.$hideNavbar|async) ? 'd-none' : 'd-block'">
    <div class="d-flex justify-content-around align-items-center w-100" style="position: fixed;bottom: 0">
      <div routerLink="chats" [routerLinkActive]="['active']" class="d-flex justify-content-center flex-column align-items-center">
        <ion-icon name="chatbubbles"></ion-icon>
        <span>Chats</span>
      </div>
      <div routerLink="contacts" [routerLinkActive]="['active']" class="d-flex justify-content-center flex-column align-items-center">
        <ion-icon name="people"></ion-icon>
        <span>
          Contacts
        </span>
      </div>
    </div>
  </div>
</div>
