<!-- <div *ngIf="commonService.isDesktop else otherDevices">
  <div class="d-flex justify-content-around align-items-center">
    <div>
        <mat-icon (click)="refreshButton()">refresh</mat-icon>
    </div>
    <div>
        <mat-icon (click)="addProducts()">add_box</mat-icon>
    </div>
  </div>
</div> -->

<!-- <ng-template #otherDevices> -->
  <div class="d-flex align-items-center">
    <ion-searchbar [animated]="false" placeholder="Type to Search.." (keyup)=productService.searchOtherProductKey.emit($event)  #input></ion-searchbar>
      <div>
        <ion-button size="medium" color="success" (click)="addProducts()">
          <ion-icon name="bag-add"></ion-icon>
        </ion-button>
    </div>
    </div>
<!-- </ng-template> -->
