<div>
  <div class="d-flex justify-content-around align-items-center">
    <div>
        <mat-icon (click)="refreshButton()">refresh</mat-icon>
    </div>
    <div>
      <div class="d-flex justify-content-center align-items-center flex-column-reverse">
        <ion-toggle [formControl]="toggleDone" (ionChange)="secretKeyEnabled($event)" [enableOnOffLabels]="true" color="dark"></ion-toggle>
      </div>
    </div>
    <div>
        <mat-icon (click)="addProducts()">add_box</mat-icon>
    </div>
  </div>
  <div class="mt-2 d-flex justify-content-around align-items-center">
    <span>Enable To Set SecretKey</span>
  </div>
</div>
