<div>
  <ion-searchbar animated="true" placeholder="Type to Search.." (keyup)="applyFilter($event)" #input></ion-searchbar>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort >
    <!-- Position Column -->
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="sellingPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sellingPrice}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="receivedPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Received Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.receivedPrice}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
      <mat-cell  *matCellDef="let row">
          <button mat-icon-button (click)="EditProduct(row)"><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
      <mat-cell  *matCellDef="let row">
          <button mat-icon-button (click)="deleteProduct(row)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

    <mat-paginator class="mt-2" [pageSizeOptions]="[5, 10, 25, 100]" (page)="assignPages($event)" aria-label="Select page of users"></mat-paginator>
  </div>
