<div>
  <div class="mt-2">
    <app-navbar></app-navbar>
  </div>
  <div>
    <ion-searchbar [animated]="true" placeholder="Type to Search.." (keyup)="applyFilter($event)" #input></ion-searchbar>
  </div>
  <div>
    <ion-list class="p-0 m-0">
      <ion-item>
        <ion-select [formControl] = 'categorySelected' (ionChange)="selectedCategoryChange()" aria-label="category" [interface]="'popover'" placeholder="Select all categories that apply" [multiple]="true">
          <ng-container *ngFor="let category of user.categories;let i = index">
            <ion-select-option *ngIf="category.checked" [value]="category.name">{{category.name}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div class="mt-1">
    <mat-table [dataSource]="dataSource" matSort style="overflow: auto;" >
      <!-- Position Column -->
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="ellipsis" matTooltip="Product Name">Product Name</span>
          </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="ellipsis" [matTooltip]="element.productName"> {{element.productName}}</span>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="sellingPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="ellipsis" matTooltip="Selling Price">Selling Price</span>
          </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="ellipsis" [matTooltip]="element.sellingPrice">{{element.sellingPrice | currency:'INR':'symbol':'0.1-1'}}</span>
           </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="receivedPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="ellipsis" matTooltip="Received Price">Received Price</span>
           </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span appSecretKey class="ellipsis" [matTooltip]="element.receivedPrice | secretKeyPipe">{{element.receivedPrice}}</span>
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="ellipsis" matTooltip="Quantity">Quantity</span>
            </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="ellipsis" [matTooltip]="element.quantity">{{element.quantity}}</span>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="ellipsis" matTooltip="Category">Category</span>
            </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="ellipsis" [matTooltip]="element.category">{{element.category}}</span>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="ellipsis" matTooltip="Edit">Edit</span>
         </mat-header-cell>
        <mat-cell  *matCellDef="let row; let i=index">
          <button class="m-0 p-0 bg-transparent" (click)="EditProduct(row,i)" [disabled]="row.quantity<=0">
            <mat-icon color="primary" >edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="ellipsis" matTooltip="Delete">Delete</span>
        </mat-header-cell>
        <mat-cell  *matCellDef="let row; let i=index">
          <button class="m-0 p-0 bg-transparent" (click)="deleteProduct(i)" [disabled]="row.quantity<=0">
            <mat-icon color="warn" id="present-alert" >delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="ellipsis" matTooltip="Code">Code</span>
        </mat-header-cell>
        <mat-cell  *matCellDef="let row; let i=index">
          <qrcode (click)="qrCodeClick(i)" [qrdata]="row._id" [width]="65" [errorCorrectionLevel]="'M'"></qrcode>
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="paginator">
        <mat-footer-cell *matFooterCellDef class="px-0">
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="assignPages($event)" aria-label="Select page of users"></mat-paginator>
        </mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
      <mat-row (click)="presentPopover($event,row,i)" [ngStyle]="row.quantity<=0 ? {'background-color': '#eb445a'} : null" *matRowDef="let row;let i = index; columns: displayedColumns;">
      </mat-row>
      <mat-footer-row *matFooterRowDef="displayedFooter;sticky:true"></mat-footer-row>
        <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4"><strong>No products to display..</strong></td>
    </tr>
    </mat-table>
    </div>
</div>
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <div class="ion-padding">
      <div class="d-flex justify-content-around" *ngIf="!restock else afterRestock">
        <button (click)="restock = true" mat-raised-button color="primary">Re-Stock</button>
      </div>
      <ng-template #afterRestock>
        <div class="d-flex align-items-center">
          <ion-item class="w-100">
            <ion-input label="Number input" type="number" #quantity placeholder="No of Quantities"></ion-input>
          </ion-item>
          <button  mat-raised-button color="primary" (click)="restockQuantities(quantity.value)">Add</button>
        </div>
      </ng-template>
    </div>
  </ng-template>
</ion-popover>
