<div class="d-flex justify-content-around align-items-center">
  <ion-searchbar class="p-1" animated="true" placeholder="Animated" #searchKey
    [formControl]="myControl"></ion-searchbar>
</div>
<div class="d-flex justify-content-between align-items-center">
  <div>
    <button class="newFormButton" mat-raised-button color="primary" (click)="newForm()">Add</button>
  </div>
  <div style="font-size: x-large;">
    <ion-icon name="arrow-up-circle-outline" (click)="viewPort.scrollToIndex(0, 'smooth')"></ion-icon>
    <ion-icon name="arrow-down-circle-outline"
      (click)="viewPort.scrollToIndex(getServiceEntry.length, 'smooth')"></ion-icon>
  </div>
</div>
<!-- <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
    <ng-container matColumnDef="s.no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="ellipsis" matTooltip="S.No">S.No</span>
        </mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Serial No" [value]="setSerialNumber(i)">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="ellipsis" matTooltip="Date">Date</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Date">
          </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="ellipsis" matTooltip="Model">Model</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Model">
          </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="ellipsis" matTooltip="Customer Name">Customer Name</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Customer Name">
          </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="ellipsis" matTooltip="Product Name">Description</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Description">
          </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mobileNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="ellipsis" matTooltip="Mobile No">Contact No</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Mobile No">
          </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="ellipsis" matTooltip="Price">Price</span>
      </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Price">
          </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="ellipsis" matTooltip="Status">Status</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Status">
          </mat-form-field>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4"><strong>No products to display..</strong></td>
  </tr>
  </mat-table>  -->
<div [formGroup]="servicePanel">
  <cdk-virtual-scroll-viewport style="overflow-x: hidden;" itemSize="99999999999" class="example-viewport">
    <ion-grid class="p-0">
      <ion-card class="m-1" formArrayName="serviceEntry" *ngFor="let entry of formArr$|async; let i = index">
        <ion-card-content [formGroupName]="i" class="m-0 p-0">
          <ion-row class="ion-justify-content-start">
            <ion-col class="p-4">
              <ion-item fill="outline" mode="md">
                <ion-input type="text" readonly autofocus formControlName="serialNo"></ion-input>
              </ion-item>
              <!-- <ion-col *ngIf="i === getServiceEntry.length-1" class="d-flex justify-content-end align-items-center">
                  <button mat-raised-button color="primary" (click)="newForm(i)">Add</button>
                </ion-col> -->
              <ion-item fill="outline" mode="md">
                <ion-input type="text" readonly autofocus formControlName="date" placeholder="Date"></ion-input>
              </ion-item>
              <ion-item fill="outline" mode="md">
                <ion-input type="text" [clearInput]="true" autofocus formControlName="model" placeholder="Model"></ion-input>
              </ion-item>
              <ion-item fill="outline" mode="md">
                <ion-input type="text" [clearInput]="true" autofocus formControlName="customerName" placeholder="Customer Name"></ion-input>
              </ion-item>
              <ion-item fill="outline" mode="md">
                <ion-input type="text" [clearInput]="true" autofocus formControlName="description" placeholder="Description"></ion-input>
              </ion-item>
              <ion-item fill="outline" mode="md">
                <ion-input type="number" [clearInput]="true" autofocus formControlName="imei" placeholder="Optional: imei"></ion-input>
              </ion-item>
              <ion-item fill="outline" mode="md">
                <ion-input type="tel" [clearInput]="true" autofocus formControlName="contactNo" placeholder="Contact No"></ion-input>
              </ion-item>
              <ion-item fill="outline" mode="md">
                <ion-input type="number" [clearInput]="true" autofocus formControlName="price" placeholder="Price"></ion-input>
              </ion-item>
              <ion-list>
                <ion-item fill="outline" mode="md">
                  <ion-select aria-label="Fruit" interface="popover" placeholder="Select Status"
                    formControlName="status">
                    <ion-select-option value="Ready">Ready</ion-select-option>
                    <ion-select-option value="Hold">Hold</ion-select-option>
                    <ion-select-option value="Delivered">Delivered</ion-select-option>
                    <ion-select-option value="Re-Entry">Re-Entry</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <!-- <ion-item fill="outline" mode="md">
                      <ion-label position="floating">Status</ion-label>
                      <ion-input type="text" autofocus formControlName="status"></ion-input>
                    </ion-item> -->
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </cdk-virtual-scroll-viewport>
</div>
