<p class="m-0">{{(loggedUser$| async)?.userName}}</p>
<ion-card class="mx-0 my-1">
  <ion-card-content class="p-0">
    <ion-list>
      <ion-item class="p-0" *ngFor="let recent of _chatService.recentChatMap" (click)="onContactClick(recent)">
        <ion-thumbnail slot="start" >
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>{{recent.userName}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
