<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="d-flex justify-content-between align-items-center">
            <mat-card-title>
              Guru Stock Management
            </mat-card-title>
          <mat-card-title>
            <button type="button" mat-icon-button>
              <mat-icon>logout</mat-icon>
            </button>
          </mat-card-title>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row h-100">
    <div *ngIf="!productsPanelEnable" class="d-flex justify-content-center align-items-center">
      <div>
        <app-login-panel (isLoginSuccess)="loginSuccess($event)"></app-login-panel>
      </div>
    </div>
    <div *ngIf="productsPanelEnable" >
      <div class="row px-2">
        <app-navbar style="position: sticky;top: 0.1px;"></app-navbar>
        <app-display style="position: sticky;top: 0.1px;"></app-display>
      </div>
    </div>
  </div>
</ion-content>
