<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="productsPanelEnable">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-header [translucent]="true">
        <ion-toolbar>
            <div class="d-flex justify-content-between align-items-center">
                  <mat-card-title>
                    Guru Stock Management
                  </mat-card-title>
                <mat-card-title>
                  <button type="button" (click)="logOut()" mat-icon-button>
                    <mat-icon>logout</mat-icon>
                  </button>
                </mat-card-title>
            </div>
        </ion-toolbar>
      </ion-header>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="row h-100 background-img">
      <div *ngIf="!productsPanelEnable" class="d-flex justify-content-center align-items-center">
        <div class="">
          <app-login-panel (isLoginSuccess)="loginSuccess($event)"></app-login-panel>
        </div>
      </div>
      <div *ngIf="productsPanelEnable">
        <div class="px-2 displaywrapper">
          <app-navbar></app-navbar>
          <app-display></app-display>
        </div>
      </div>
    </div>
  </ion-content>
</div>


