<!--
 <ion-content >
    <ion-router-outlet></ion-router-outlet>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button size="small" color="light">
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="secretKeyEnabled()">
          <ion-icon name="key"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content> -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="align-fab-button">
    <ion-fab-button size="small" color="light">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="secretKeyEnabled()">
        <ion-icon name="key"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="productDisplay">
        <ion-icon name="bag"></ion-icon>
        Products
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="hammer"></ion-icon>
        Settings
      </ion-tab-button>
      <ion-tab-button tab="reports">
        <ion-icon name="stats-chart"></ion-icon>
        Reports
      </ion-tab-button>
      <ion-tab-button tab="entry">
        <ion-icon name="people"></ion-icon>
        entry
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
